/* large.css */

@media (min-width: 768px) {
    .section-container {
        flex-direction: row;
    }

    .section-card {
        flex: 1;
    }

    nav a {
        padding: 10px 20px;
        font-size: 1rem;
    }

    button {
        font-size: 1rem;
        padding: 10px 20px;
    }
}
