/* small.css */
body {
    background-color: #f4f4f9;
    color: #333;
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
}

/* Header */
header {
    background-color: #2c5d84;
    padding: 15px;
    color: white;
}

/* Header Content */
.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* Profile Wrapper */
.profile-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: auto;
}

.profile-wrapper img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);

}

.profile-wrapper h1 {
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    margin: 0;
}

/* Hamburger Menu */
#menu-btn {
    font-size: 2rem;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    display: block;
}

/* Navigation Bar */
#nav-bar {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 15 px;
}

#nav-bar a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
}

#nav-bar a:hover {
    background-color: #444;
}

#nav-bar a.active {
    background-color: #d4af37;
    color: #000;
    border-radius: 5px;
}

#nav-bar.open {
    display: flex;
}

/* Footer */
footer {
    background-color: #2c5d84;
    color: white;
    padding: 12px;
    text-align: center;
}
